<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212140512351-s3tp2m9rfc02ej80hgesga58f1ve4h55.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212140512351-s3tp2m9rfc02ej80hgesga58f1ve4h55</string>
	<key>API_KEY</key>
	<string>AIzaSyBjg8v3VZwU-8oAtGOnoBB7uyh7LmfzrNI</string>
	<key>GCM_SENDER_ID</key>
	<string>212140512351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>clc.firebaseNotes</string>
	<key>PROJECT_ID</key>
	<string>fir-notes-c59d6</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-notes-c59d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212140512351:ios:865048c8dff1c2476f37ea</string>
</dict>
</plist>